- name: disabling old version of nodejs
  ansible.builtin.shell: dnf module disable nodejs -y; dnf module enable nodejs:18 -y

- name: installing nodejs
  ansible.builtin.package:
    name: nodejs
    state: present

- name: adding the user
  ansible.builtin.user:
    name: roboshop

- name: creating a directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: download {{component}} application
  ansible.builtin.get_url:
    url: https://roboshop-builds.s3.amazonaws.com/{{component}}.zip
    dest: /tmp

- name: unzipping the file
  ansible.builtin.unarchive:
    src: /tmp/{{component}}.zip
    dest: /app
    remote_src: yes

- name: changing the dir and npm install
  ansible.builtin.command: npm install
  args:
      chdir: /app

- name: copy {{component}} services
  ansible.builtin.template:
    src: "{{component}}.service.j2" 
    dest: "/etc/systemd/system/{{component}}.service"

- name: deamon realod and start
  ansible.builtin.service:
    daemon-reload: true

- name: start and enable {{component}}
  ansible.builtin.service:
    name: "{{component}}"
    state: restarted
    enabled: yes


  